* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-one: #FEE6BB;
    --color-two: #EEC492;
    --color-three: #F2C864;
    --color-four: #F48676;
    --color-five: #6D9496;
    --color-six: #0B4251;

    /* --color-one: #CCCCCA;
    --color-two: #D9B991;
    --color-three: #736A62;
    --color-four: #D9895B;
    --color-five: #F25F29; */
    --offwhite: #f2f2f2;
}

body {
    font-family: 'Calibri', sans-serif;
    background-color: var(--color-six);
    color: var(--offwhite);
}

/* Landing Section */

.landing {
    height: 100vh;
    background-color: #f1f1f1;
    background-image: url('./images/sunset.JPG');
    background-size: cover;
}

.landing-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 10vh;

    /* Add these properties for the blur effect */
    background-color: rgba(255, 255, 255, 0.1); /* Slight white background */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    
    /* Optional: add a subtle border or shadow for definition */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.landing-nav .logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.landing-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: white;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 50%;
}

.info-box h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.info-box p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* About Section */

.about {
    height: 100vh;
    background-color: var(--color-six);
    /* background: linear-gradient(0deg, var(--color-five), var(--color-six)); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about-images {
    display: flex;
    flex-direction: column;
    width: 40%;
    /* height: 50vh; */
    height: 100%;
    border-radius: 10px;
    padding: 20px;
}

.about-images img {
    height: 30vh;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    height: 55vh;
    border-radius: 10px;
    padding: 20px;
    text-align: left; 
    color: var(--offwhite)
}

.about-text hr {
    width: 3rem;
    height: 0.5rem;
    margin-bottom: 10px;
    background-color: var(--color-four);
    border: 1px solid var(--color-four);
}

.about-text h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.about-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Experience Section */

.experience {
    height: 100vh;
    background-color: var(--color-five);
}

.experience-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: var(--offwhite);
}

.experience-header hr {
    width: 3rem;
    height: 0.5rem;
    background-color: var(--color-four);
    margin-bottom: 10px;
    border: 1px solid var(--color-four);
}

.experience-header h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.experience-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 20vh;
    border-radius: 10px 0px;
    padding: 20px;
    background-color: var(--color-six);
    margin-bottom: 3rem;
    /* box-shadow: 25px 25px 10px var(--color-two); */
    color: var(--offwhite);
}

.experience-box p {
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.experience-box h3 {
    margin-bottom: 20px;
    color: var(--color-one);
}

.experience-img {
    width: 30%;
}

.experience-info-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
    height: 100%;
    padding: 20px;
}

.experience-info-secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
    height: 100%;
    padding: 20px;
}

/* Projects Section */

.project {
    height: 90vh;
    background-color: var(--color-five);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: var(--offwhite);
}

.project-header hr {
    width: 3rem;
    height: 0.5rem;
    background-color: var(--color-four);
    margin-bottom: 10px;
    border: 1px solid var(--color-four);
}

.project-header h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 50vh;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--color-six);
    margin-bottom: 3rem;
    color: var(--offwhite);
    text-align: left;
}

.project-info {
    width: 100%;
}

.project-info h3 {
    margin-bottom: 20px;
    color: var(--color-one);
}

.project-info hr {
    width: 50%;
    height: 2px;
    background-color: var(--color-four);
    margin-bottom: 10px;
    border: 1px solid var(--color-four);
}

.project-info h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;    
}

.project-info p {
    margin-bottom: 20px;
    font-size: 1.25rem;
}

/* Contact Section */

.contact {
    height: 50vh;
    background-color: var(--color-six);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--offwhite)
}

.contact-memo h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.contact-points {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    color: var(--offwhite);
}

.contact-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    width: 50%;
    height: 7.5vh;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--color-five);
    margin-bottom: 3rem;
    color: var(--offwhite);
    text-align: left;
}